$primary-light: #efebe3;
$primary-detail: #98981e;
$primary-dark: #4d2c06;
$primary-orange: #ec7e00;

@mixin flex-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  z-index: 3;
  .mainLine {
    h1 {
      font-size: 14rem;
      line-height: 14rem;
      color: $primary-orange;
    }
    h3 {
      font-size: 5rem;
      color: $primary-detail;
    }
  }
  .secondLine {
    p {
      font-size: 1.6rem;
      margin: 1rem 0;
      color: $primary-orange;
      font-weight: 700;
    }
  }
  .line {
    height: 2px;
    width: 30rem;
    background: $primary-orange;
  }

  .cta {
    button {
      width: 20rem;
      height: 4rem;
      border-radius: 3px;
      padding: 1rem;
      margin: 2rem 0;
      background: $primary-orange;
      border-style: none;
      font-size: 1.2rem;
      color: $primary-light;
      font-weight: 700;
      cursor: pointer;
      transition: 0.1s ease-in all;
    }
    button:focus,
    button:active {
      outline: none;
    }
    button:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 6px #98981e86;
      background-color: $primary-detail;
    }
    button:active {
      transform: scale(0.99);
    }
  }
}
